.home-page .navbar{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    transition: 0.4s ease;
}
.navbar{
    background-color: #0a2342;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand span{
    font-size: 2rem;
}
.nav-link{
    transition: 0.3s;
}
.nav-link:hover{
    color: #ffc107 !important;
}
.ada{
    background-color: #f8f9fa;
    min-height: 90vh;
    display: flex;
    align-items: center;
}
.ada h1{
    color: #0a2342;
}
.ada .lead{
    color: #555;
}
.card{
    border-radius: 15px;
}
.form-select{
    padding: 12px;
}
.whatsapp-btn{
    transition: all 0.3s ease;
}
.whatsapp-btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px #25D366 !important;
}
.btn-danger{
    font-weight: bold;
}
.card img{
    height: 220px;
    object-fit: cover;
}
.card{
    transition: 3s;
}
.card:hover{
    transform: translateY(-8px);
}
.card-title{
    font-weight: 600;
}
.card:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0) !important;
}
.display-4{
    transition: 3s;
}
.card:hover{
    transform: scale(1.15);
}
.carousel-item img{
    height: 500px;
    object-fit: cover;
    position: relative;
}
.carousel-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}
.carousel-caption{
    background: rgba(0, 0, 0, 0);
    padding-bottom: 20px;
    z-index: 2;
    border-radius: 10px;
}
@media (max-width: 768px){
    .carousel-item img{
        height: 300px;
    }

    .carousel-caption h1{
        font-size: 1.5rem;
    }

    .carousel-caption p{
        font-size: 0.9rem;
    }
}
@media (max-width: 576px){
    .navbar-brand span{
        font-size: 1.2rem;
    }
    .navbar-brand img{
        width: 45px;
        height: 45px;
    }
}
@media (max-width: 768px){
    .navbar-brand span{
        font-size: 1.2rem;
    }
    .navbar-brand img{
        width: 45px;
        height: 45px;
    }
    .carousel-item{
        height: 55vh;
    }
    .carousel-item immg{
        height: 55vh;
        object-fit: cover;
    }
}